@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "assets/simple-grid.css";

*:focus {
  border-color: rgba(255, 140, 0, 0.71);
}

section {
  margin-bottom: 50px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

/deep/ .mat-progress-spinner circle, .mat-spinner circle {
  stroke: rgb(181, 119, 9) !important;
}


