@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/simple-grid.css";

section {
  margin-bottom: 50px;
  margin-top: 50px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}


